In [1]:
bool(0)

False

In [2]:
bool(1)

True

In [3]:
True and False

False

In [4]:
not False

True

Python is dynamic typing language.During run time, compiler can understand the type of the variable

In [5]:
bool(-1)

True

Four ways of writing print

In [1]:
age=36
print("My age is ",age)

My age is  36

In [2]:
print(f"My age is {age}")

My age is 36

In [3]:
print("My age is {}".format(age))

My age is 36

In [6]:
#PLACEHOLDER
name="Shilpi"
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Shilpi and age is 36

In [4]:
#discount problem
price = int(input("Enter the product price"))
if price > 1000:
    print("Your discount price is {}".format(0.8*price))
else:
    print("Your discount price is {}".format(0.7*price))

Enter the product price 800

Your discount price is 560.0

In [7]:
#Single statement suites
val=int(input("Enter a number: "))
if (val <= 999):print("The number is less than equal to 999")
else:
    print("Go to Home Page")

Enter a number:  1000

Go to Home Page

Loop Statements
While , For, Nested loops
Loop Control(break,continue,pass)

In [11]:
#while is continuous checking loop untill a condition is achieved that stops the loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time to retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time to retirement

In [12]:
#ATM machine with Rs.1000 only
money=1000
while money!=0:
    print(money)
    money=money-100
else:
    print("No money in this ATM")

1000
900
800
700
600
500
400
300
200
100
No money in this ATM

In [13]:
#For loop:This works well with all the collections, used to iterate all the elements
lst=['Shilpi',1,2,3,'apple']

In [16]:
for x in lst:
    print(x,end=',')

Shilpi,1,2,3,apple,

In [17]:
#Range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [20]:
##Nested Loops
#\r is to go to next line and move to the left side
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [21]:
#Loop Controls
#Break and Continue and Pass
fruit_lst=["Banana","Mango","Apple","Cherry","Papaya"]

In [22]:
#In BREAK, it skip all the steps when condition is true
for i in fruit_lst:
    if i=="Apple":
        print("The fruit is Apple")
        break
    print(i)

Banana
Mango
The fruit is Apple

In [23]:
#In CONTINUE, it skip just the step whose condition is met
for i in fruit_lst:
    if i=="Apple":
        print("The fruit is Apple")
        continue
    print(i)

Banana
Mango
The fruit is Apple
Cherry
Papaya

In [24]:
#In PASS, it just passes, executes everything
for i in fruit_lst:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

Banana
Mango
The fruit is Apple
Apple
Cherry
Papaya